@{
    ViewData["Title"] = "Red Hat OpenShift Container Platform";
}

<div class="text-center">
    <div name="contactform" id="contactform" class="contact-form container">
    <div class="cd-popup-container">
    <p>
    <a class="cd-popup-close cd-close-button">
    <i class="fa fa-times" style="pointer-events: none;"></i>
    </a>
    </p>
    <h1>Red Hat OpenShift Container<br> Platform</h1>
    <div><div>
    <p>Trying to deliver more apps faster is often met by chronic productivity roadblocks. We believe the path to better IT efficiency and innovation lies in the cloud—via public Platform-as-a-Service (PaaS) with OpenShift Online by Red Hat®, or private PaaS with Red Hat's award-winning OpenShift Container Platform.</p>
    </div>
    <p>A cloud computing PaaS solution, like OpenShift Container Platform, can help you deliver apps much faster. As with OpenShift Online, OpenShift Container Platform uses a powerful stack of Red Hat technologies that makes life easier for application developers, IT operations staff, and enterprise architects.</p></div>
    </div>
</div>
    <p>Learn about <a href="https://www.zebrac.com/redhat">Building Web apps with ASP.NET Core on OpenShift</a>.</p>
</div>
